p.center {
    text-align: center;
    color: lightblue;
}

p.lc {
    text-align: center;
    color: black;
}
p.large {
    font-size: 300%;
}
h1 {
    text-align: center;
    color: blue;
}
p.ss {
    border: 2px solid Tomato;
}
div {
    background-color: lightgray;
}

div.first {
    opacity: 0.1;
}

div.second {
    opacity: 0.3;
}

div.third {
    opacity: 0.6;
}
p.dotted {
    border-style: dotted;
}
p.dashed {
    border-style: dashed;
}
p.solid {
    border-style: solid;
}
p.double {
    border-style: double;
    color: blue;
}
p.groove {
    border-style: groove;
}
p.ridge {
    border-style: ridge;
}
p.insert {
    border-style: insert;
}
p.outset {
    border-style: outset;
}
p.none {
    border-style: none;
}
p.mix {
    border-style: dotted dashed groove ridge;
    color: red blue;
}
.content {
    background-color: lightgrey;
    width: 300px;
    height:50px;
    border: 15px solid lightblue;
    padding: 50px;
    margin: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    overflow-y:scroll;
    overflow-x:hidden;
}
.outline {
    border: 2px solid black;
    outline: gray solid 10px;
    margin: auto;
    padding: 20px;
    font-style: oblique;
}
h1 {
    text-decoration-line: overline;
    text-decoration-color: red;
    text-decoration-style: solid;
}

h2 {
    text-decoration-line: line-through;
    text-decoration-color: blue;
    text-decoration-style: solid;
}

h3 {
    text-decoration-line: underline;
    text-decoration-color: green;
    text-decoration-style: dotted;
}

p {
    text-decoration-line: overline underline;
    text-decoration-color: purple;
    text-decoration-style: double;
}
.shadow {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
h1.a {
    font-family: "Audiowide", sans-serif;
}
h1.b {
    font-family: "Sofia", sans-serif;
}
h1.c {
    font-family: "Trirong", serif;
}
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}
ol {
    background: #ff9999;
    padding: 20px;
}

ul {
    background: #3399ff;
    padding: 20px;
}

ol li {
    background: #ffe5e5;
    color: darkred;
    padding: 5px;
    margin-left: 35px;
}

ul li {
    background: #cce5ff;
    color: darkblue;
    margin: 5px;
}
* {
  box-sizing: border-box;
}

.img-container {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* * {
  text-align: center;
  color: blue;
} */
s